<launch>
    <node pkg="gscam" type="gscam" name="builtin_cam" 
          required="true" output="screen">
        <env name="GSCAM_CONFIG" value="v4l2src device=/dev/video0 ! video/x-raw-yuv,framerate=30/1,width=640,height=480 ! ffmpegcolorspace"/>
        <param name="camera_name" value="builtin_cam"/>
        <remap from="camera/image_raw" to="builtin_cam/image_raw"/>
    </node>

    <node pkg="image_proc" type="image_proc" name="image_proc"
          ns="builtin_cam">
    </node>
</launch>
