<launch>
    <node pkg="hokuyo_node" type="hokuyo_node" name="hokuyo_node">
        <param name="port" value="/dev/hokuyo"/>
    </node>

    <node pkg="tf" type="static_transform_publisher" name="laser_tf"
          args="0 0 0 0 0 0 base_link laser 100">
    </node>

    <node pkg="lidarnav" type="pointcloud" name="pointcloud">
    </node>
</launch>
